/* body {
  background-color: #666768;
  background-image: url('https://www.transparenttextures.com/patterns/back-pattern.png');
  
} */

body {
  background-color: #bbb;
}

.delete-icon:hover {
  cursor: pointer;
}

.status-span {
  margin-right: 3rem;
}
